version: 1.3.4.{build}
image: Visual Studio 2019
build_script:
- cmd: >-
    dotnet --version

    dotnet pack -c Release --output ../artifacts ZstdNet/ZstdNet.csproj
test_script:
- cmd: dotnet test -v m ZstdNet.Tests/ZstdNet.Tests.csproj
artifacts:
- path: artifacts/*.nupkg